* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

a:not([href]):not([class]) {
  color: none;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.bottom {
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-size: 14px;
  background: #ebebeb;
  border-bottom: 1px solid #a3a3a3;
  padding: 3px 3px 7px 3px;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #a3a3a3 !important;
}

#example_previous, #example_next {
  padding: 3px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  padding: 3px;
}

@media screen and (min-width:2560px) {
  #example_previous, #example_next {
    padding: 8px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 10px;
  }

  .bottom {
    font-size: 18px;
  }
}