#container {
    background: #E5E5E5;
}

#example_wrapper {
    background: white;
    padding: 2%;
    height: 87%;
    border-radius: 0 0 13px 13px;
}

#example {
    background: white;
}

.filterButtons {
    border: none;
    padding: 4.5px 10px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    outline: none;
    background: white;
    color: #3E6578;
    border: 1px solid #3E6578;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
}

#commentBadge, #starIcon {
    font-size: 25px;
}

#year {
    font-size: 12.7px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #767676;
}

#percentage {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: right;
    color: #3E6578;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

#medication, #chart {
    margin-top: auto;
    margin-bottom: auto;
}

#expandButton {
    position: relative;
    top: 80%;
}

.tableTD>td, #percentage, #medication {
    vertical-align: middle;
}

div.dataTables_info {
    position: absolute
}

div.dataTables_wrapper div.dataTables_paginate {
    float: none;
    text-align: center
}

#example_length {
    float: right;
    padding-top: 4px;
}

#datatable {
    overflow-y: auto;
    width: 100%;
    height: 88%;
}

.dataTables_scrollBody {
    max-height: 50vh;
}

#modalImage {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}



.dashboard_child2 {
    background: #E5E5E5;
    padding: 1.5% 2%;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
}

#filters {
    border-radius: 13px 13px 0 0 !important;
    background: white;
}

#filters h5 {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
}

.me-2 {
    padding: 4.5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

.rowImg img {
    height: 23px;
    width: 24px;
}

.row .userPic img {
    width: 50px;
    height: 50px;
}

.verticleMiddle {
    align-items: center;
}

.badgeClass .css-1c32n2y-MuiBadge-root {
    color: #3E6578;
}

#datatable th {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #767676;
}

#datatable td {
    font-size: 12.7px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}


@media screen and (min-width:2560px) {
    #datatable th {
        font-size: 20px;
        line-height: 30px;
    }

    .row .userPic img {
        width: 60px;
        height: 60px;
    }

    #commentBadge, #starIcon {
        font-size: 32px;
    }

    .rowImg img {
        height: 35px;
        width: 35px;
    }

    #datatable td {
        font-size: 19px;
        line-height: 30px;
    }

    #year {
        font-size: 19px;
        line-height: 27px;
    }

    #percentage {
        font-size: 26px;
    }
}