#container{
    background: #E5E5E5;
    padding: 1%;
}
#example_wrapper{
    background: white;
    padding: 2%;
    border-radius: 0 0 20px 20px;
    height: 87%;
}
#example{
    background: white;
}
#filters{
    border-radius: 20px 20px 0 0 !important;

    background: white;
}
.filterButtons{
    padding-left: 3%;
    padding-right: 3%;
    border: none;
    outline: none;
    height: 30px;
    margin: 1%;
    background: #3E6578;
    color: white;
}
#commentBadge,#starIcon{
    font-size: 25px;
}
#year{
    color: #767676;
}
#percentage{
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}
#medication,#chart{
    margin-top: auto;
    margin-bottom: auto;
}
#expandButton{
    position: relative;
    top: 80%;
}
.tableTD > td, #percentage,#medication{
    vertical-align: middle;
}
div.dataTables_info {
    position:absolute
}
div.dataTables_wrapper div.dataTables_paginate {
    float:none; text-align:center
}
#example_length{
    float: right;
}
#datatable{
    overflow-y: auto;
    width: 100%;
    height: 88%;
}
.dataTables_scrollBody{
    max-height: 50vh;
}
#modalImage{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

