.dashboard_child1 {
    background: #3E6578;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    padding: 1% 2%;
}

.dashboard_child11 {
    display: flex;
    align-items: center;
}

.dashboard_child11 p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.dashboard_child11_1 {
    margin-right: 3%;
}

.dashboard_child11_1_btn button {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    background: #4A7389;
    color: #C1D6E1;
    border: 0;
    padding: 4.5px 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.dashboard_child11_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard_child11_2 p {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.dashboard_child11_2_1 {
    display: flex;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
}

.dashboard_child11_2_1>p {
    font-weight: 500;
    letter-spacing: 0.11px;
    margin-bottom: 0;
    margin-right: 14px;
}

.dashboard_child11_2_1 select {
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
    margin-right: 5px;
    cursor: pointer;
}

.dashboard_child11_2_1 button {
    background: #3E6578;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 2px;
}

.dashboard_child11_2_1 button:hover {
    background: #4a7389;
}

.dashboard_child12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
}

.dashboard_child12_1, .dashboard_child12_2 {
    display: flex;
}

.dashboard_child12_1>div, .dashboard_child12_2>div {
    width: 100%;
}

.dashboard_child12_1>div:last-child, .dashboard_child12_2>div:last-child {
    background: #A0B9C8;
    width: 70%;
}

.dashboard_child12>div {
    background: #FFFFFF;
    border-radius: 14px;
    height: 185px;
    width: 35%;
    min-height: 185px;
    max-height: 185px;
    padding: 1% 1.5%;
}

.dashboard_child12>div:last-child {
    width: 25%;
}

.dashboard_child12 h4 {
    font-family: 'Pretendard', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
}

.dashboard_child12_p {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
    text-align: left;
    color: #767676;
}
.dashboard_child12_graphNum{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75%;
}
.dashboard_child12_graphNum>div{
    background: #EEEEEE;
    width: 80%;
    height: 70%;
    margin-right: 9%
}
.dashboard_child12_31 {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
}

.dashboard_child12_31>div {
    display: flex;
    align-items: center;
}

.dashboard_child12_31 p {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    margin-right: 4%;
}

.dashboard_child12_31>div:first-child p {
    background: #CE747C;
}

.dashboard_child12_31>div:nth-child(2) p {
    background: #64879B;
}

.dashboard_child12_31>div:last-child p {
    background: #A0B9C8;
}