.forget_logo {
    margin: 0.4% 0 0 0;
}

.forget_text {
    margin-bottom: 5.3%;
}

.forget_text>p {
    text-align: center;
}

.forget_text span {
    color: #3E6578;
}

.forget_field_1 {
    margin-bottom: 1.4%;
}

.forget_field_21 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    padding-left: 1%;
    position: relative;
}

.forget_field_2 {
    margin-top: 0;
}

.forget_field_21>span {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #767676;
    padding-left: 5%;
}

.forget_field_21>img {
    cursor: pointer;
}

.forget_emailShow_cont {
    border-radius: 4px;
    padding: 4.5% 0;
    width: 100%;
    color: #3E6578;
    background: #EEEEEE;
}

.forget_emailShow_cont>p {
    text-align: center;
}

.forget_verification_Field {
    width: 100%;
}

.forget_ver21 {
    width: 100%;
    flex-direction: column;
    align-items: normal;
}

.forget_pass_create p {
    font-family: 'Pretendard', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #767676;
}

.forget_pass {
    margin-bottom: 1%;
    margin-top: 0;
}

.forget_showPassVal {
    margin: 5% 0 5% 0;
    width: 100%;
}

.forget_showPassVal>div {
    margin-bottom: 1%;
    width: 100%;
}

.forget_showPassVal2>span {
    color: #2CA96D;
}

.forget_showPassVal .forget_showPassVal2:last-child>span {
    color: #D02121;
}

.passErr {
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #D02121;
}

.passComp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 9%;
}

.passComp p {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #191919;

}

#passCompMsg {
    font-family: 'Pretendard', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    color: #767676;
}

#successEmailMsg {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
}