.individualPanel {
    background: #9d9d9d;
    height: 100vh;
}

.individualPanel_close {
    text-align: end;
}

.individualPanel_close img {
    cursor: pointer;
    margin-right: 2%;
    margin-top: 2%;
}

.individualPanel_main {
    width: 90%;
    height: 86%;
    margin: auto;
    display: flex;
    border-radius: 8px;
}

.individualPanel_child1 {
    width: 23%;
    background: white;
    height: 100%;
    border-radius: 8px 0 0 8px;
    padding: 1%;
}

.individualPanel_child2 {
    width: 77%;
    height: 100%;
    border-radius: 0 8px 8px 0;
}

.individualPanel_child21 {
    height: 12%;
    background: #3E6578;
    border-radius: 0 8px 0 0;
}

.individualPanel_child22 {
    height: 88%;
    background: white;
    border-radius: 0 0 8px 0;
}
.indiButtons{
    width: 250px;
    margin-top: 5%;
}