.sidebar {
    width: 100%;
    grid-area: sidebar;
    background: #F1F1F1;
    min-width: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 0 54px 0;
}

.sidebar_icon ul {
    padding-left: 19px;
    margin-bottom: 0;
}

.sidebar_icon ul li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.sidebar_icon ul li:not(:last-child) {
    margin-bottom: 39px;
}

@media screen and (max-width:1024px) {
    .sidebar_icon ul {
        padding-left: 11px;
    }
}