.signup {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    height: 100%;
}

.signup_cont>form {
    width: 100%;
}

.signup_logo_cont {
    margin: 13% 0 12% 0;
}

.signup_checkout {
    padding-left: 0;
    width: 100%;
}

.signup_checkout>span {
    color: black;
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0%;
    letter-spacing: 0.5px;
}

.signup_checkout>input:checked::before {
    left: 3px;
    top: -1px
}

.signup_terms_child {
    margin: 7% 0;
}

.signup_terms_child>p {
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #767676;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    padding: 2.3%;
    margin-top: 5%;
}

.signup_btn_cont {
    margin: 13% 0 10% 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup_btn {
    border-radius: 3px;
    border-style: none;
    padding: 3.2%;
    cursor: pointer;
    transition: 0.27s;
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    background: white;
}

.signup_btn1 {
    color: #3E6578;
    width: 47%;
    border: 1px solid #3E6578;
}

.signup_btn2 {
    width: 47%;
    color: #ffffff;
    background: #C6C6C6;
}

.signup_btn2:hover {
    background: #3e6578d1;
}

.signup_btn_cont>a {
    border-radius: 3px;
    border-style: none;
    padding: 2.3%;
    cursor: pointer;
    transition: 0.27s;
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-decoration: none;
    width: 47%;
    color: #ffffff;
    background: #3E6578;
    text-align: center;
}

.signup_btn1:hover {
    background-color: #e0e0e0d1;
}

/* ///////////////////////////////////////////////////////// */

.signup_cont2 {
    padding-top: 3%;
}

.signup_heading {
    font-family: 'Pretendard', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.18000000715255737px;
    text-align: center;
    color: #3E6578;
}

.signup_avatar {
    text-align: center;
    margin: 12% 0 9% 0;
}

.signup_avatar>img {
    border-radius: 50%;
}

.signup_label {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left;
    margin-bottom: 2.7%;
}

.signup_label>span {
    color: #D02121;
}

.signup_email {
    margin: 14% 0 22% 0;
}

.verified_Email {
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #2CA96D;
    margin: 2% 0;
}

.signup_ver_form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invalidVer {
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #D02121;
    text-align: left;
    margin-top: 2%;

}

.verMsg {
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: left;
    color: #999999;
    margin-top: 4%;

}

.verMsg>button {
    color: #767676;
    background: transparent;
    border: 0;
    text-decoration: underline;
}

.signup_btn3 {
    width: 15%;
    color: #ffffff;
}

.sign_btn_email {
    color: #ffffff;
}

.sign_btn_email:hover {
    background-color: #3e6578d1;
}

.signup_email>button {
    margin: .5% 0 3.4% 0;
}

.verification_Field {
    width: 80%;
    height: 42px;
    padding: 2% 0 2% 4%;
    color: #767676;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
}


.signup_pass {
    margin-top: -26px;
    margin-bottom: 24%;
}

.signup_logo_bottom {
    margin: 1.1% 0;
}

.signup_logo_bottom>img {
    margin-bottom: 20%;
}

.sign_phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Phone {
    cursor: pointer;
}

.sign_phone>select {
    height: 42px;
    width: 33.4%;
    padding: 2% 0 2% 2%;
    color: #767676;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
}

.sign_phone>input {
    width: 62%;
}

#addBtn {
    width: 24%;
    height: 42px;
    padding: 2% 3% 2% 4%;
    color: #767676;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    background: transparent;
    text-align: right;
    margin-left: 76%;
    position: relative;
}

#addBtnIcon {
    margin-top: 1%;
    position: absolute;
    cursor: pointer;
    margin-left: -4.9%;
}

.passIconSet {
    position: relative;
}

.passIconSet>img {
    margin-top: 3.5%;
    position: absolute;
    cursor: pointer;
    margin-left: -11%;
}

#editP_1 {
    margin-bottom: 15%;
}

#editP_2 {
    margin-bottom: 25%;
}

.idPassLogo {
    margin: 4% 0 16% 0;
}

.idPassCont {
    margin: 9% 0;
}

.idPassCont .signup_ver_form {
    margin-top: 4%;
}

@media screen and (max-width:470px) {

    .signup_cont {
        width: 96%;
        height: 105%;
        margin-top: 5%;
        border: 0;
    }

    .signup_logo_cont {
        margin: 23.5% 0 12% 0;
    }

    .signup_terms_child {
        margin: 10% 0;
    }

    .signin_fields_cont {
        width: 82%;
    }

    .signup_cont2 {
        padding-top: 18%;
    }

    #addBtnIcon {
        margin-top: 3.2%;
        margin-left: -16%;
    }

    .idPassLogo {
        margin: 0% 0 13% 0;
    }
}
@media screen and (max-width:1024px) {
    .signup_cont {
        width: 47%;
    }
}
@media screen and (max-width:1280px) {
    .passIconSet>img{
        margin-top: 3%;
    }
    .signup_cont {
        width: 41%;
    }
}
@media screen and (min-width:1920px) {
    .passIconSet>img{
        margin-top: 2.5%;
    }
}